  <!DOCTYPE html>
<html>
<title>END TO END WORKERS</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {
  background-image: url(image.jpg,)
}
</style>
<body  >

<!-- Links (sit on top) -->

<div class="w3-top" >
  <div class="w3-row w3-padding w3-green">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-green">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/about" class="w3-button w3-block w3-green">ABOUT</a>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-green">REGISTER</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="/register/customer" class="w3-button w3-block w3-violet">Customer</a>
        <a href="/register/employee" class="w3-button w3-block w3-violet">Employee</a>
        <a href="/register/sp" class="w3-button w3-block w3-violet">Service Provider</a>
      </div>
    </div>
    <div class="w3-col s3">
      <a href="/login" class="w3-button w3-block w3-green">LOGIN</a>
    </div>
  </div>
</div>

<img src="image.jpg" alt="Girl in a jacket" width="1300" height="700">

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>