<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/emp/emp.css">
</head>

<body>
    <div class="nav">
        <h3>Customers</h3>
        <ul>
            <li><a class="active" href="/customer/">Home</a></li>
            <li><a href="/customer/booking" name="customer">Booking</a></li>
            <li><a href="/customer/orders" name="customer">Orders</a></li>
            <li><a  href="/customer/edit">Edit Profile</a></li>
        </ul>
        <h3>Logout</h3>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
       
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
</html>